*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: midnightblue;
  color: white;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}


.wrap{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .wrapform{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    input{
      width: 100%;
      padding: 1rem;
      border: none;
      border-radius: 15px;
      background-color: darkblue;
      margin-bottom: 25px;
      color: white;
    }
    input[type='submit']{
      background-color: #000;
      color: white;
      font-size: 18px;
    }
  }
}

